
<div class="row">
    <div class="col-sm-7 col-6">
        <h4 class="page-title">Informe Portafolio <strong>Unidad I</strong></h4>
    </div>
</div>

<div class="profile-tabs">
    <ul class="nav nav-tabs nav-tabs-bottom">
        <li class="nav-item"><a class="nav-link active" href="#about-cont" data-toggle="tab">1. Datos Generales</a></li>
        <li class="nav-item"><a class="nav-link" href="#bottom-tab2" data-toggle="tab">2. Graficos</a></li>
        <li class="nav-item"><a class="nav-link" href="#bottom-tab3" data-toggle="tab">3. Material Docente</a></li>
        <li class="nav-item"><a class="nav-link" href="#bottom-tab4" data-toggle="tab">4. Material Estudiante</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane show active" id="about-cont">
            <div class="row">
                <div class="col-md-12">
                    <div class="card-box">
                        <div class="row clearfix">
                            <div class="col-md-12">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item active" aria-current="page">INFORMACION DE CURSO</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-md-4">
                                <div class="form-group form-focus">
                                    <label class="focus-label">Codigo:</label>
                                    <input type="text" style="background:#ffffff" readonly class="form-control floating" value="ING-101">
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="form-group form-focus">
                                    <label class="focus-label">Asignatura:</label>
                                    <input type="text" style="background:#ffffff" readonly class="form-control floating" value="MATEMATICA I">
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-md-2">
                                <div class="form-group form-focus">
                                    <label class="focus-label">Sección:</label>
                                    <input type="text" style="background:#ffffff" readonly class="form-control floating" value="A">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group form-focus">
                                    <label class="focus-label">Ciclo:</label>
                                    <input type="text" style="background:#ffffff" readonly class="form-control floating" value="I">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group form-focus">
                                    <label class="focus-label">Horas:</label>
                                    <input type="text" style="background:#ffffff" readonly class="form-control floating" value="6">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group form-focus">
                                    <label class="focus-label">Créditos:</label>
                                    <input type="text" style="background:#ffffff" readonly class="form-control floating" value="4">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group form-focus">
                                    <label class="focus-label">Tipo Curso:</label>
                                    <input type="text" style="background:#ffffff" readonly class="form-control floating" value="Obligatorio">
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-md-12">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item active" aria-current="page">DATOS DOCENTE</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-md-4">
                                <div class="form-group form-focus">
                                    <label class="focus-label">Codigo:</label>
                                    <input type="text" style="background:#ffffff" readonly class="form-control floating" value="201353">
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="form-group form-focus">
                                    <label class="focus-label">Nombre:</label>
                                    <input type="text" style="background:#ffffff" readonly class="form-control floating" value="Javier Alca">
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-md-8">
                                <div class="form-group form-focus">
                                    <label class="focus-label">Email:</label>
                                    <input type="text" style="background:#ffffff" readonly class="form-control floating" value="alca@hotmail.com">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group form-focus">
                                    <label class="focus-label">Celular:</label>
                                    <input type="text" style="background:#ffffff" readonly class="form-control floating" value="995686832">
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-md-12">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item active" aria-current="page">NUMERO DE ESTUDIANTES</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-md-3">
                                <div class="form-group form-focus">
                                    <label class="focus-label">Matriculados:</label>
                                    <input type="text" style="background:#ffffff" readonly class="form-control floating" value="30">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group form-focus">
                                    <label class="focus-label">Retirados:</label>
                                    <input type="text" style="background:#ffffff" readonly class="form-control floating" value="3">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group form-focus">
                                    <label class="focus-label">Abandonos:</label>
                                    <input type="text" style="background:#ffffff" readonly class="form-control floating" value="2">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group form-focus">
                                    <label class="focus-label">Desaprobados:</label>
                                    <input type="text" style="background:#ffffff" readonly class="form-control floating" value="10">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="bottom-tab2">
            <div class="row">
                <div class="col-md-12">
                    <div class="card-box">
                        <div class="row clearfix">
                            <div class="col-md-12">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item active" aria-current="page">GRAFICO 1 : ASISTENCIA DE ESTUDIANTES</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-6 col-lg-6 col-xl-6">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="chart-title">
                                            <h4>Patient Total</h4>
                                            <span class="float-right"><i class="fa fa-caret-up" aria-hidden="true"></i> 15% Higher than Last Month</span>
                                        </div>
                                        <canvas id="linegraph"></canvas>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-6 col-xl-6">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="chart-title">
                                            <h4>Patients In</h4>
                                            <div class="float-right">
                                                <ul class="chat-user-total">
                                                    <li><i class="fa fa-circle current-users" aria-hidden="true"></i>ICU</li>
                                                    <li><i class="fa fa-circle old-users" aria-hidden="true"></i> OPD</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <canvas id="bargraph"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-md-12">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item active" aria-current="page">GRAFICO 2 : SITUACIÓN GENERAL DE ESTUDIANTES</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-6 col-lg-6 col-xl-6">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="chart-title">
                                            <h4>Patient Total</h4>
                                            <span class="float-right"><i class="fa fa-caret-up" aria-hidden="true"></i> 15% Higher than Last Month</span>
                                        </div>
                                        <canvas id="linegraph"></canvas>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-6 col-xl-6">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="chart-title">
                                            <h4>Patients In</h4>
                                            <div class="float-right">
                                                <ul class="chat-user-total">
                                                    <li><i class="fa fa-circle current-users" aria-hidden="true"></i>ICU</li>
                                                    <li><i class="fa fa-circle old-users" aria-hidden="true"></i> OPD</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <canvas id="bargraph"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-md-12">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item active" aria-current="page">GRAFICO 3 : RENDIMIENTO DE ESTUDIANTES</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-6 col-lg-6 col-xl-6">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="chart-title">
                                            <h4>Patient Total</h4>
                                            <span class="float-right"><i class="fa fa-caret-up" aria-hidden="true"></i> 15% Higher than Last Month</span>
                                        </div>
                                        <canvas id="linegraph"></canvas>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-6 col-xl-6">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="chart-title">
                                            <h4>Patients In</h4>
                                            <div class="float-right">
                                                <ul class="chat-user-total">
                                                    <li><i class="fa fa-circle current-users" aria-hidden="true"></i>ICU</li>
                                                    <li><i class="fa fa-circle old-users" aria-hidden="true"></i> OPD</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <canvas id="bargraph"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="bottom-tab3">
            <div class="row">
                <div class="col-md-12">
                    <div class="card-box">
                        <div class="row clearfix">
                            <div class="col-md-12">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item active" aria-current="page">MATERIAL DOCENTE ENTREGADO</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table id="example" class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Código</th>
                                        <th>Asignatura</th>
                                        <th>Docente</th>
                                        <th>Tipo</th>
                                        <th>Ciclo</th>
                                        <th>Seccion</th>
                                        <th>Estado</th>
                                        <th class="text-right">Accción</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    <tr>
                                        <td>1</td>
                                        <td><a href="#">ING-101</a></td>
                                        <td>MATEMATICA I</td>
                                        <td>Silvia Marlene Centella Vildoso</td>
                                        <td>Obligatorio</td>
                                        <td>I</td>
                                        <td>A</td>
                                        <td><span class="custom-badge status-purple">Enviado</span></td>
                                        <td class="text-right">
                                            <div class="dropdown dropdown-action">
                                                <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <a class="dropdown-item" href="#"><i class="fa fa-eye m-r-5"></i> Ver</a>
                                                    <a class="dropdown-item" href="#"><i class="fa fa-check m-r-5"></i> Aceptar</a>
                                                    <a class="dropdown-item" href="#"><i class="fa fa-close m-r-5"></i> Rechazar</a>
                                                    <a class="dropdown-item" href="#"><i class="fa fa-cloud-download m-r-5"></i> Descargar</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td><a href="#">ING-101</a></td>
                                        <td>MATEMATICA I</td>
                                        <td>Felipe Remigio Atencio Maquera</td>
                                        <td>Obligatorio</td>
                                        <td>I</td>
                                        <td>B</td>
                                        <td><span class="custom-badge status-green">Aceptado</span></td>
                                        <td class="text-right">
                                            <div class="dropdown dropdown-action">
                                                <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <a class="dropdown-item" href="#"><i class="fa fa-eye m-r-5"></i> Ver</a>
                                                    <a class="dropdown-item" href="#"><i class="fa fa-check m-r-5"></i> Aceptar</a>
                                                    <a class="dropdown-item" href="#"><i class="fa fa-close m-r-5"></i> Rechazar</a>
                                                    <a class="dropdown-item" href="#"><i class="fa fa-cloud-download m-r-5"></i> Descargar</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td><a href="#">ING-201</a></td>
                                        <td>MATEMATICA II</td>
                                        <td>Nelida Brigida Maquera Cardenas</td>
                                        <td>Obligatorio</td>
                                        <td>II</td>
                                        <td>A</td>
                                        <td><span class="custom-badge status-grey">Guardado</span></td>
                                        <td class="text-right">
                                            <div class="dropdown dropdown-action">
                                                <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <a class="dropdown-item" href="#"><i class="fa fa-eye m-r-5"></i> Ver</a>
                                                    <a class="dropdown-item" href="#"><i class="fa fa-check m-r-5"></i> Aceptar</a>
                                                    <a class="dropdown-item" href="#"><i class="fa fa-close m-r-5"></i> Rechazar</a>
                                                    <a class="dropdown-item" href="#"><i class="fa fa-cloud-download m-r-5"></i> Descargar</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td><a href="#">ING-202</a></td>
                                        <td>FISICA I</td>
                                        <td>Felipe Remigio Atencio Maquera</td>
                                        <td>Obligatorio</td>
                                        <td>II</td>
                                        <td>A</td>
                                        <td><span class="custom-badge status-red">Rechazado</span></td>
                                        <td class="text-right">
                                            <div class="dropdown dropdown-action">
                                                <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <a class="dropdown-item" href="#"><i class="fa fa-eye m-r-5"></i> Ver</a>
                                                    <a class="dropdown-item" href="#"><i class="fa fa-check m-r-5"></i> Aceptar</a>
                                                    <a class="dropdown-item" href="#"><i class="fa fa-close m-r-5"></i> Rechazar</a>
                                                    <a class="dropdown-item" href="#"><i class="fa fa-cloud-download m-r-5"></i> Descargar</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="bottom-tab4">
            <div class="row">
                <div class="col-md-12">
                    <div class="card-box">
                        <div class="row clearfix">
                            <div class="col-md-12">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item active" aria-current="page">INFORMACION DE CURSO</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-md-4">
                                <div class="form-group form-focus">
                                    <label class="focus-label">Codigo:</label>
                                    <input type="text" style="background:#ffffff" readonly class="form-control floating" value="ING-101">
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="form-group form-focus">
                                    <label class="focus-label">Asignatura:</label>
                                    <input type="text" style="background:#ffffff" readonly class="form-control floating" value="MATEMATICA I">
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-md-2">
                                <div class="form-group form-focus">
                                    <label class="focus-label">Sección:</label>
                                    <input type="text" style="background:#ffffff" readonly class="form-control floating" value="A">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group form-focus">
                                    <label class="focus-label">Ciclo:</label>
                                    <input type="text" style="background:#ffffff" readonly class="form-control floating" value="I">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group form-focus">
                                    <label class="focus-label">Horas:</label>
                                    <input type="text" style="background:#ffffff" readonly class="form-control floating" value="6">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group form-focus">
                                    <label class="focus-label">Créditos:</label>
                                    <input type="text" style="background:#ffffff" readonly class="form-control floating" value="4">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group form-focus">
                                    <label class="focus-label">Tipo Curso:</label>
                                    <input type="text" style="background:#ffffff" readonly class="form-control floating" value="Obligatorio">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>