@{
    ViewBag.Title = "Ver";
}
<div class="row">
    <div class="col-sm-7 col-6">
        <h4 class="page-title">Detalle Plan de Estudio</h4>
    </div>
    <div class="col-sm-5 col-6 text-right m-b-30">
        <a href="~/DetalleCargaAcademica/Agregar" class="btn btn-primary btn-rounded"><i class="fa fa-edit"></i> Editar Detalle Plan Estudio</a>
    </div>
</div>
<div class="card-box profile-header">
    <div class="row">
        <div class="col-md-12">
            <div class="profile-view">
                <div class="row">
                    <div class="col-md-6">
                        <div class="profile-info-left">
                            <ul class="personal-info">
                                <li>
                                    <span class="title">Plan de Estudio</span>
                                    <span class="text">2016-I</span>
                                </li>
                                <li>
                                    <span class="title">Carga Académica:</span>
                                    <span class="text">2016-I</span>
                                </li>
                                <li>
                                    <span class="title">Código:</span>
                                    <span class="text">ING-101</span>
                                </li>
                                <li>
                                    <span class="title">Asignatura:</span>
                                    <span class="text">Matemática II</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <ul class="personal-info">
                            <li>
                                <span class="title">Tipo:</span>
                                <span class="text">Obligatorio</span>
                            </li>
                            <li>
                                <span class="title">Docente:</span>
                                <span class="text">Nelida Brigida Maquera Cardenas</span>
                            </li>
                            <li>
                                <span class="title">Sección:</span>
                                <span class="text">A</span>
                            </li>
                            <li>
                                <span class="title">Estado:</span>
                                <span class="text">Activo</span>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

