@{
    Layout = null;
}
<meta name="viewport" content="width=device-width" />
<title>ListaPDFDocente</title>
<link rel="stylesheet" type="text/css" href="~/assets/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="~/assets/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="~/assets/css/style.css">
<div class="container">
    <div class="table-responsive">
        <table border="1" class="table">

            <tr>
                <th colspan="10" class="text-center" bgcolor="#B5B5B5">CURSO</th>
            </tr>

            <tr>
                <th colspan="2">Codigo</th>
                <th colspan="8">Nombre</th>
            </tr>
            <tr>
                <td colspan="2">101</td>
                <td colspan="8">MATEMATICA I</td>
            </tr>
            <tr>
                <th>Sección</th>
                <td>A</td>
                <th>Ciclo</th>
                <td>I</td>
                <th>Horas</th>
                <td>6</td>
                <th>Créditos</th>
                <td>4</td>
                <th>Tipo Curso</th>
                <td>Obligatorio</td>
            </tr>
            <tr>
                <th colspan="10" class="text-center" bgcolor="#B5B5B5">DOCENTE</th>
            </tr>

            <tr>
                <th colspan="2">Codigo</th>
                <th colspan="8">Nombre</th>
            </tr>
            <tr>
                <td colspan="2">101</td>
                <td colspan="8">MATEMATICA I</td>
            </tr>
        </table>
    </div>
</div>















