@model PortafolioEPIS.Models.Tbl_ConocimientoHabilidad

@{
    List<PortafolioEPIS.Models.Tbl_PruebaEntrada> itemPruebaEntrada = ViewBag.Tbl_PruebaEntrada; 
}
<h1>@Html.LabelFor(x=>x.Tbl_PruebaEntrada.Codigo_DetalleCargaAcademica)</h1>
@using (Html.BeginForm("Guardar", "ConocimientoHabilidad", FormMethod.Post))
{
    @Html.HiddenFor(x => x.Codigo_ConocimientoHabilidad)
    <div class="row clearfix">
        <div class="col-md-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active" aria-current="page">CONOCIMIENTOS Y HABILIDADES</li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-md-6">
            <div class="form-group form-focus">
                <label class="focus-label">Nombre:</label>
                <input type="text" class="form-control floating" value="Conocimientos de Base de datos">
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group form-focus">
                <label class="focus-label">Deficiente:</label>
                <input type="text" class="form-control floating" value="5">
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group form-focus">
                <label class="focus-label">Suficiente:</label>
                <input type="text" class="form-control floating" value="10">
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group form-focus">
                <label class="focus-label">Bueno:</label>
                <input type="text" class="form-control floating" value="10">
            </div>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-md-6">
            <div class="form-group">
                <div class="form-group row">
                    <div class="col-sm-8 col-9 text-left">
                        <div class="form-check form-check-inline">
                            <a href="~/ConocimientoHabilidad/Index" class="btn btn btn-outline-primary btn-rounded" style='width:100px; height:35px'><i class="fa fa-close"></i>  Cancelar</a>
                        </div>
                        <div class="form-check form-check-inline">
                            <button class="btn btn-primary btn-rounded" style='width:100px; height:35px' type="submit"><i class="fa fa-check"></i> Guardar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
}


