
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- META ============================================= -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="" />
    <meta name="author" content="" />
    <meta name="robots" content="" />

    <!-- DESCRIPTION -->
    <meta name="description" content="EduChamp : Education HTML Template" />

    <!-- OG -->
    <meta property="og:title" content="EduChamp : Education HTML Template" />
    <meta property="og:description" content="EduChamp : Education HTML Template" />
    <meta property="og:image" content="" />
    <meta name="format-detection" content="telephone=no">

    <!-- FAVICONS ICON ============================================= -->
    <link rel="icon" href="~/assets/PortalWeb/images/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" type="image/x-icon" href="~/assets/PortalWeb/images/favicon.png" />

    <!-- PAGE TITLE HERE ============================================= -->
    <title>Portal EPIS </title>

    <!-- MOBILE SPECIFIC ============================================= -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--[if lt IE 9]>
    <script src="assets/js/html5shiv.min.js"></script>
    <script src="assets/js/respond.min.js"></script>
    <![endif]-->
    <!-- All PLUGINS CSS ============================================= -->
    <link rel="stylesheet" type="text/css" href="~/assets/PortalWeb/css/assets.css">

    <!-- TYPOGRAPHY ============================================= -->
    <link rel="stylesheet" type="text/css" href="~/assets/PortalWeb/css/typography.css">

    <!-- SHORTCODES ============================================= -->
    <link rel="stylesheet" type="text/css" href="~/assets/PortalWeb/css/shortcodes/shortcodes.css">

    <!-- STYLESHEETS ============================================= -->
    <link rel="stylesheet" type="text/css" href="~/assets/PortalWeb/css/style.css">
    @*<link class="skin" rel="stylesheet" type="text/css" href="~/assets/PortalWeb/css/color/color-1.css">*@

    <!-- REVOLUTION SLIDER CSS ============================================= -->
    <link rel="stylesheet" type="text/css" href="~/assets/PortalWeb/vendors/revolution/css/layers.css">
    <link rel="stylesheet" type="text/css" href="~/assets/PortalWeb/vendors/revolution/css/settings.css">
    <link rel="stylesheet" type="text/css" href="~/assets/PortalWeb/vendors/revolution/css/navigation.css">
    <!-- REVOLUTION SLIDER END -->
</head>
<body id="bg">
    <div class="page-wraper">
        <div id="loading-icon-bx"></div>
        <!-- Header Top ==== -->
        <header class="header rs-nav header-transparent">
            <div class="top-bar">
                <div class="container">
                    <div class="row d-flex justify-content-between">
                        <div class="topbar-left">
                            <ul>
                                <li><a href="#"><i class="fa fa-question-circle"></i>Haz una pregunta?</a></li>
                                <li><a href="javascript:;"><i class="fa fa-envelope-o"></i>sistemas@upt.edu.pe</a></li>
                            </ul>
                        </div>
                        <div class="topbar-right">
                            <ul>
                                <li>
                                    <select class="header-lang-bx">
                                        <option data-icon="flag flag-es">Español</option>
                                        <option data-icon="flag flag-us">English</option>

                                    </select>
                                </li>
                                <li><a href="~/Login/IngresoSistema">Login</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sticky-header navbar-expand-lg">
                <div class="menu-bar clearfix">
                    <div class="container clearfix">
                        <!-- Header Logo ==== -->
                        <div class="menu-logo">
                            <a href="index.html"><img src="~/assets/PortalWeb/images/EPIS.png" alt=""></a>
                        </div>
                        <!-- Mobile Nav Button ==== -->
                        <button class="navbar-toggler collapsed menuicon justify-content-end" type="button" data-toggle="collapse" data-target="#menuDropdown" aria-controls="menuDropdown" aria-expanded="false" aria-label="Toggle navigation">
                            <span></span>
                            <span></span>
                            <span></span>
                        </button>
                        <!-- Author Nav ==== -->
                        <div class="secondary-menu">
                            <div class="secondary-inner">
                                <ul>
                                    <li><a href="javascript:;" class="btn-link"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="javascript:;" class="btn-link"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="javascript:;" class="btn-link"><i class="fa fa-linkedin"></i></a></li>
                                    <!-- Search Button ==== -->
                                    <li class="search-btn"><button id="quik-search-btn" type="button" class="btn-link"><i class="fa fa-search"></i></button></li>
                                </ul>
                            </div>
                        </div>
                        <!-- Search Box ==== -->
                        <div class="nav-search-bar">
                            <form action="#">
                                <input name="search" value="" type="text" class="form-control" placeholder="Tipo de Busqueda">
                                <span><i class="ti-search"></i></span>
                            </form>
                            <span id="search-remove"><i class="ti-close"></i></span>
                        </div>
                        <!-- Navigation Menu ==== -->
                        <div class="menu-links navbar-collapse collapse justify-content-start" id="menuDropdown">
                            <div class="menu-logo">
                                <a href="index.html"><img src="~/assets/PortalWeb/images/logo.png" alt=""></a>
                            </div>
                            <ul class="nav navbar-nav">
                                <li class="active">
                                    <a href="javascript:;">Inicio  <i class="fa fa-chevron-down"></i></a>
                                    <ul class="sub-menu">
                                        <li><a href="javascript:;">Misión - Visión </a></li>
                                        <li><a href="javascript:;">Comités del Programa </a></li>
                                        <li><a href="javascript:;">Objetivos Educacionales </a></li>
                                        <li><a href="javascript:;">Malla Curricular </a></li>
                                        <li><a href="javascript:;">Plan de Estudios </a></li>
                                        <li><a href="javascript:;">Azure Dev Tools for Teaching </a></li>
                                        <li><a href="javascript:;">Microsoft Imagine</a></li>
                                        <li><a href="javascript:;">Galeria de Fotos </a></li>
                                        <li><a href="javascript:;">Noticias </a></li>
                                        <li><a href="javascript:;">Eventos </a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="javascript:;">Autoevaluación <i class="fa fa-chevron-down"></i></a>
                                    <ul class="sub-menu">
                                        <li><a href="#">¿Qué es la acreditación?</a></li>
                                        <li><a href="#">Comité de Autoevaluacion</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="javascript:;">Acreditacón <i class="fa fa-chevron-down"></i></a>
                                    <ul class="sub-menu">
                                        <li><a href="javascript:;">Acreditación</a></li>
                                        <li><a href="javascript:;">Comités de Acreditación</a></li>
                                        <li><a href="javascript:;">Objetivos Educacionales</a></li>
                                        <li><a href="javascript:;">Resultados del Estudiante</a></li>
                                        <li><a href="javascript:;">Concurso de Proyectos</a></li>
                                        <li><a href="javascript:;">Documentos para los Docentes</a></li>
                                        <li><a href="javascript:;">Documentos para los Estudiantes</a></li>
                                        <li><a href="javascript:;">ICACIT - ABET</a></li>
                                    </ul>
                                </li>

                                <li class="nav-dashboard">
                                    <a href="javascript:;">Contáctenos</a>
                                </li>
                            </ul>
                            <div class="nav-social-link">
                                <a href="javascript:;"><i class="fa fa-facebook"></i></a>
                                <a href="javascript:;"><i class="fa fa-google-plus"></i></a>
                                <a href="javascript:;"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                        <!-- Navigation Menu END ==== -->
                    </div>
                </div>
            </div>
        </header>
        <!-- Header Top END ==== -->
        <!-- Content -->
        <div class="page-content bg-white">
            <!-- Main Slider -->
            <div class="rev-slider">
                <div id="rev_slider_486_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="news-gallery36" data-source="gallery" style="margin:0px auto;background-color:#ffffff;padding:0px;margin-top:0px;margin-bottom:0px;">
                    <!-- START REVOLUTION SLIDER 5.3.0.2 fullwidth mode -->
                    <div id="rev_slider_486_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.3.0.2">
                        <ul>
                            <!-- SLIDE  -->
                            <li data-index="rs-100"
                                data-transition="parallaxvertical"
                                data-slotamount="default"
                                data-hideafterloop="0"
                                data-hideslideonmobile="off"
                                data-easein="default"
                                data-easeout="default"
                                data-masterspeed="default"
                                data-thumb="error-404.html"
                                data-rotate="0"
                                data-fstransition="fade"
                                data-fsmasterspeed="1500"
                                data-fsslotamount="7"
                                data-saveperformance="off"
                                data-title="A STUDY ON HAPPINESS"
                                data-param1="" data-param2=""
                                data-param3="" data-param4=""
                                data-param5="" data-param6=""
                                data-param7="" data-param8=""
                                data-param9="" data-param10=""
                                data-description="Science says that Women are generally happier">
                                <!-- MAIN IMAGE -->
                                <img src="~/assets/PortalWeb/images/slider/slide1.jpg" alt=""
                                     data-bgposition="center center"
                                     data-bgfit="cover"
                                     data-bgrepeat="no-repeat"
                                     data-bgparallax="10"
                                     class="rev-slidebg"
                                     data-no-retina />

                                <!-- LAYER NR. 1 -->
                                <div class="tp-caption tp-shape tp-shapewrapper "
                                     id="slide-100-layer-1"
                                     data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                                     data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
                                     data-width="full"
                                     data-height="full"
                                     data-whitespace="nowrap"
                                     data-type="shape"
                                     data-basealign="slide"
                                     data-responsive_offset="off"
                                     data-responsive="off"
                                     data-frames='[{"from":"opacity:0;","speed":1,"to":"o:1;","delay":0,"ease":"Power4.easeOut"},{"delay":"wait","speed":1,"to":"opacity:0;","ease":"Power4.easeOut"}]'
                                     data-textAlign="['left','left','left','left']"
                                     data-paddingtop="[0,0,0,0]"
                                     data-paddingright="[0,0,0,0]"
                                     data-paddingbottom="[0,0,0,0]"
                                     data-paddingleft="[0,0,0,0]"
                                     style="z-index: 5;background-color:rgba(2, 0, 11, 0.80);border-color:rgba(0, 0, 0, 0);border-width:0px;"></div>
                                <!-- LAYER NR. 2 -->
                                <div class="tp-caption Newspaper-Title   tp-resizeme"
                                     id="slide-100-layer-2"
                                     data-x="['center','center','center','center']"
                                     data-hoffset="['0','0','0','0']"
                                     data-y="['top','top','top','top']"
                                     data-voffset="['250','250','250','240']"
                                     data-fontsize="['50','50','50','30']"
                                     data-lineheight="['55','55','55','35']"
                                     data-width="full"
                                     data-height="none"
                                     data-whitespace="normal"
                                     data-type="text"
                                     data-responsive_offset="on"
                                     data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
                                     data-textAlign="['center','center','center','center']"
                                     data-paddingtop="[0,0,0,0]"
                                     data-paddingright="[0,0,0,0]"
                                     data-paddingbottom="[10,10,10,10]"
                                     data-paddingleft="[0,0,0,0]"
                                     style="z-index: 6; font-family:rubik; font-weight:700; text-align:center; white-space: normal;">
                                    Bienvenidos al Portal EPIS
                                </div>
                                <!-- LAYER NR. 3 -->
                                <div class="tp-caption Newspaper-Subtitle   tp-resizeme"
                                     id="slide-100-layer-3"
                                     data-x="['center','center','center','center']"
                                     data-hoffset="['0','0','0','0']"
                                     data-y="['top','top','top','top']"
                                     data-voffset="['210','210','210','210']"
                                     data-width="none"
                                     data-height="none"
                                     data-whitespace="nowrap"
                                     data-type="text"
                                     data-responsive_offset="on"
                                     data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
                                     data-textAlign="['left','left','left','left']"
                                     data-paddingtop="[0,0,0,0]"
                                     data-paddingright="[0,0,0,0]"
                                     data-paddingbottom="[0,0,0,0]"
                                     data-paddingleft="[0,0,0,0]"
                                     style="z-index: 7; white-space: nowrap; color:#fff; font-family:rubik; font-size:18px; font-weight:400;">
                                    Escuela Profesional de Ingenieria de Sistemas
                                </div>

                                <!-- LAYER NR. 3 -->
                                <div class="tp-caption Newspaper-Subtitle   tp-resizeme"
                                     id="slide-100-layer-4"
                                     data-x="['center','center','center','center']"
                                     data-hoffset="['0','0','0','0']"
                                     data-y="['top','top','top','top']"
                                     data-voffset="['320','320','320','290']"
                                     data-width="['800','800','700','420']"
                                     data-height="['100','100','100','120']"
                                     data-whitespace="unset"
                                     data-type="text"
                                     data-responsive_offset="on"
                                     data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
                                     data-textAlign="['center','center','center','center']"
                                     data-paddingtop="[0,0,0,0]"
                                     data-paddingright="[0,0,0,0]"
                                     data-paddingbottom="[0,0,0,0]"
                                     data-paddingleft="[0,0,0,0]"
                                     style="z-index: 7; text-transform:capitalize; white-space: unset; color:#fff; font-family:rubik; font-size:18px; line-height:28px; font-weight:400;">
                                    La escuela de Ingeniería de Sistemas con el fin de asegurar la calidad académica en la formación profesional de nuestros estudiantes estamos realizando...
                                </div>
                                <!-- LAYER NR. 4 -->
                                <div class="tp-caption Newspaper-Button rev-btn "
                                     id="slide-100-layer-5"
                                     data-x="['center','center','center','center']"
                                     data-hoffset="['90','80','75','90']"
                                     data-y="['top','top','top','top']"
                                     data-voffset="['400','400','400','420']"
                                     data-width="none"
                                     data-height="none"
                                     data-whitespace="nowrap"
                                     data-type="button"
                                     data-responsive_offset="on"
                                     data-responsive="off"
                                     data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"300","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(0, 0, 0, 1.00);bg:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);bw:1px 1px 1px 1px;"}]'
                                     data-textAlign="['center','center','center','center']"
                                     data-paddingtop="[12,12,12,12]"
                                     data-paddingright="[30,35,35,15]"
                                     data-paddingbottom="[12,12,12,12]"
                                     data-paddingleft="[30,35,35,15]"
                                     style="z-index: 8; white-space: nowrap; outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer; background-color:var(--primary) !important; border:0; border-radius:30px; margin-right:5px;">LEER MAS</div>
                                <div class="tp-caption Newspaper-Button rev-btn"
                                     id="slide-100-layer-6"
                                     data-x="['center','center','center','center']"
                                     data-hoffset="['-90','-80','-75','-90']"
                                     data-y="['top','top','top','top']"
                                     data-voffset="['400','400','400','420']"
                                     data-width="none"
                                     data-height="none"
                                     data-whitespace="nowrap"
                                     data-type="button"
                                     data-responsive_offset="on"
                                     data-responsive="off"
                                     data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"300","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(0, 0, 0, 1.00);bg:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);bw:1px 1px 1px 1px;"}]'
                                     data-textAlign="['center','center','center','center']"
                                     data-paddingtop="[12,12,12,12]"
                                     data-paddingright="[30,35,35,15]"
                                     data-paddingbottom="[12,12,12,12]"
                                     data-paddingleft="[30,35,35,15]"
                                     style="z-index: 8; white-space: nowrap; outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer; border-radius:30px;">CONTACTENOS</div>
                            </li>
                            <li data-index="rs-200"
                                data-transition="parallaxvertical"
                                data-slotamount="default"
                                data-hideafterloop="0"
                                data-hideslideonmobile="off"
                                data-easein="default"
                                data-easeout="default"
                                data-masterspeed="default"
                                data-thumb="~/assets/PortalWebimages/slider/slide1.jpg"
                                data-rotate="0"
                                data-fstransition="fade"
                                data-fsmasterspeed="1500"
                                data-fsslotamount="7"
                                data-saveperformance="off"
                                data-title="A STUDY ON HAPPINESS"
                                data-param1="" data-param2=""
                                data-param3="" data-param4=""
                                data-param5="" data-param6=""
                                data-param7="" data-param8=""
                                data-param9="" data-param10=""
                                data-description="Science says that Women are generally happier">
                                <!-- MAIN IMAGE -->
                                <img src="~/assets/PortalWeb/images/slider/slide2.jpg" alt=""
                                     data-bgposition="center center"
                                     data-bgfit="cover"
                                     data-bgrepeat="no-repeat"
                                     data-bgparallax="10"
                                     class="rev-slidebg"
                                     data-no-retina />

                                <!-- LAYER NR. 1 -->
                                <div class="tp-caption tp-shape tp-shapewrapper "
                                     id="slide-200-layer-1"
                                     data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                                     data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
                                     data-width="full"
                                     data-height="full"
                                     data-whitespace="nowrap"
                                     data-type="shape"
                                     data-basealign="slide"
                                     data-responsive_offset="off"
                                     data-responsive="off"
                                     data-frames='[{"from":"opacity:0;","speed":1,"to":"o:1;","delay":0,"ease":"Power4.easeOut"},{"delay":"wait","speed":1000,"to":"opacity:1;","ease":"Power4.easeOut"}]'
                                     data-textAlign="['left','left','left','left']"
                                     data-paddingtop="[0,0,0,0]"
                                     data-paddingright="[0,0,0,0]"
                                     data-paddingbottom="[0,0,0,0]"
                                     data-paddingleft="[0,0,0,0]"
                                     style="z-index: 5;background-color:rgba(2, 0, 11, 0.80);border-color:rgba(0, 0, 0, 0);border-width:0px;">
                                </div>
                                <!-- LAYER NR. 2 -->
                                <div class="tp-caption Newspaper-Title   tp-resizeme"
                                     id="slide-200-layer-2"
                                     data-x="['center','center','center','center']"
                                     data-hoffset="['0','0','0','0']"
                                     data-y="['top','top','top','top']"
                                     data-voffset="['250','250','250','240']"
                                     data-fontsize="['50','50','50','30']"
                                     data-lineheight="['55','55','55','35']"
                                     data-width="full"
                                     data-height="none"
                                     data-whitespace="normal"
                                     data-type="text"
                                     data-responsive_offset="on"
                                     data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
                                     data-textAlign="['center','center','center','center']"
                                     data-paddingtop="[0,0,0,0]"
                                     data-paddingright="[0,0,0,0]"
                                     data-paddingbottom="[10,10,10,10]"
                                     data-paddingleft="[0,0,0,0]"
                                     style="z-index: 6; font-family:rubik; font-weight:700; text-align:center; white-space: normal;text-transform:uppercase;">
                                    Carrera Acreditada
                                </div>
                                <!-- LAYER NR. 3 -->
                                <div class="tp-caption Newspaper-Subtitle   tp-resizeme"
                                     id="slide-200-layer-3"
                                     data-x="['center','center','center','center']"
                                     data-hoffset="['0','0','0','0']"
                                     data-y="['top','top','top','top']"
                                     data-voffset="['210','210','210','210']"
                                     data-width="none"
                                     data-height="none"
                                     data-whitespace="nowrap"
                                     data-type="text"
                                     data-responsive_offset="on"
                                     data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
                                     data-textAlign="['left','left','left','left']"
                                     data-paddingtop="[0,0,0,0]"
                                     data-paddingright="[0,0,0,0]"
                                     data-paddingbottom="[0,0,0,0]"
                                     data-paddingleft="[0,0,0,0]"
                                     style="z-index: 7; white-space: nowrap;text-transform:uppercase; color:#fff; font-family:rubik; font-size:18px; font-weight:400;">
                                    Escuela Profesional de Ingenieria de Sistemas
                                </div>

                                <!-- LAYER NR. 3 -->
                                <div class="tp-caption Newspaper-Subtitle   tp-resizeme"
                                     id="slide-200-layer-4"
                                     data-x="['center','center','center','center']"
                                     data-hoffset="['0','0','0','0']"
                                     data-y="['top','top','top','top']"
                                     data-voffset="['320','320','320','290']"
                                     data-width="['800','800','700','420']"
                                     data-height="['100','100','100','120']"
                                     data-whitespace="unset"
                                     data-type="text"
                                     data-responsive_offset="on"
                                     data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
                                     data-textAlign="['center','center','center','center']"
                                     data-paddingtop="[0,0,0,0]"
                                     data-paddingright="[0,0,0,0]"
                                     data-paddingbottom="[0,0,0,0]"
                                     data-paddingleft="[0,0,0,0]"
                                     style="z-index: 7; text-transform:capitalize; white-space: unset; color:#fff; font-family:rubik; font-size:18px; line-height:28px; font-weight:400;">
                                    La escuela de Ingeniería de Sistemas con el fin de asegurar la calidad académica en la formación profesional de nuestros estudiantes está acreditada por ICACIT...
                                </div>
                                <!-- LAYER NR. 4 -->
                                <div class="tp-caption Newspaper-Button rev-btn "
                                     id="slide-200-layer-5"
                                     data-x="['center','center','center','center']"
                                     data-hoffset="['90','80','75','90']"
                                     data-y="['top','top','top','top']"
                                     data-voffset="['400','400','400','420']"
                                     data-width="none"
                                     data-height="none"
                                     data-whitespace="nowrap"
                                     data-type="button"
                                     data-responsive_offset="on"
                                     data-responsive="off"
                                     data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"300","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(0, 0, 0, 1.00);bg:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);bw:1px 1px 1px 1px;"}]'
                                     data-textAlign="['center','center','center','center']"
                                     data-paddingtop="[12,12,12,12]"
                                     data-paddingright="[30,35,35,15]"
                                     data-paddingbottom="[12,12,12,12]"
                                     data-paddingleft="[30,35,35,15]"
                                     style="z-index: 8; white-space: nowrap; outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer; background-color:var(--primary) !important; border:0; border-radius:30px; margin-right:5px;">LEER MAS</div>
                                <div class="tp-caption Newspaper-Button rev-btn"
                                     id="slide-200-layer-6"
                                     data-x="['center','center','center','center']"
                                     data-hoffset="['-90','-80','-75','-90']"
                                     data-y="['top','top','top','top']"
                                     data-voffset="['400','400','400','420']"
                                     data-width="none"
                                     data-height="none"
                                     data-whitespace="nowrap"
                                     data-type="button"
                                     data-responsive_offset="on"
                                     data-responsive="off"
                                     data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"300","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(0, 0, 0, 1.00);bg:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);bw:1px 1px 1px 1px;"}]'
                                     data-textAlign="['center','center','center','center']"
                                     data-paddingtop="[12,12,12,12]"
                                     data-paddingright="[30,35,35,15]"
                                     data-paddingbottom="[12,12,12,12]"
                                     data-paddingleft="[30,35,35,15]"
                                     style="z-index: 8; white-space: nowrap; outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer; border-radius:30px;">CONTACTENOS</div>
                            </li>
                            <!-- SLIDE  -->
                        </ul>
                    </div><!-- END REVOLUTION SLIDER -->
                </div>
            </div>
            <!-- Main Slider -->
            <div class="content-block">

                <!-- Our Services -->
                <div class="section-area content-inner service-info-bx">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-6">
                                <div class="service-bx">
                                    <div class="action-box">
                                        <img src="~/assets/PortalWeb/images/our-services/pic1.jpg" alt="">
                                    </div>
                                    <div class="info-bx text-center">
                                        <div class="feature-box-sm radius bg-white">
                                            <i class="fa fa-bank text-primary"></i>
                                        </div>
                                        <h4><a href="#">Acreditados por ICACIT</a></h4>
                                        <a href="#" class="btn radius-xl" style="background-color:#0583F2">Ver más</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6">
                                <div class="service-bx">
                                    <div class="action-box">
                                        <img src="~/assets/PortalWeb/images/our-services/pic2.jpg" alt="">
                                    </div>
                                    <div class="info-bx text-center">
                                        <div class="feature-box-sm radius bg-white">
                                            <i class="fa fa-book text-primary"></i>
                                        </div>
                                        <h4><a href="#">Calendario Académico</a></h4>
                                        <a href="#" class="btn radius-xl" style="background-color:#0583F2">Ver más</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12">
                                <div class="service-bx m-b0">
                                    <div class="action-box">
                                        <img src="~/assets/PortalWeb/images/our-services/pic3.jpg" alt="">
                                    </div>
                                    <div class="info-bx text-center">
                                        <div class="feature-box-sm radius bg-white">
                                            <i class="fa fa-file-text-o text-primary"></i>
                                        </div>
                                        <h4><a href="#">Facultad de Ingeniería</a></h4>
                                        <a href="#" class="btn radius-xl" style="background-color:#0583F2">Ver más</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Our Services END -->
                <!-- Perfil Profesional -->
                <div class="section-area section-sp2 popular-courses-bx">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 heading-bx left">
                                <h2 class="title-head">Perfil <span>Profesional</span></h2>
                                <p>La escuela profesional tiene 4 perfiles profesionales</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="courses-carousel owl-carousel owl-btn-1 col-12 p-lr0">
                                <div class="item">
                                    <div class="cours-bx">
                                        <div class="action-box">
                                            <img src="~/assets/PortalWeb/images/courses/pic1.jpg" alt="">
                                            <a href="#" class="btn" style="background-color:#0583F2">Leer más</a>
                                        </div>
                                        <div class="info-bx text-center">
                                            <h5><a href="#">Desarrollo de Sistemas de Información / Software</a></h5>
                                            <span>Ingeniero de Sistemas</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="cours-bx">
                                        <div class="action-box">
                                            <img src="~/assets/PortalWeb/images/courses/pic2.jpg" alt="">
                                            <a href="#" class="btn" style="background-color:#0583F2">Leer más</a>
                                        </div>
                                        <div class="info-bx text-center">
                                            <h5><a href="#">Administrador de Base de Datos</a></h5>
                                            <span>Ingeniero de Sistemas</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="cours-bx">
                                        <div class="action-box">
                                            <img src="~/assets/PortalWeb/images/courses/pic3.jpg" alt="">
                                            <a href="#" class="btn" style="background-color:#0583F2">Leer más</a>
                                        </div>
                                        <div class="info-bx text-center">
                                            <h5><a href="#">Gestor de Proyectos SI / TI</a></h5>
                                            <span>Ingeniero de Sistemas</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="cours-bx">
                                        <div class="action-box">
                                            <img src="~/assets/PortalWeb/images/courses/pic4.jpg" alt="">
                                            <a href="#" class="btn" style="background-color:#0583F2">Leer más</a>
                                        </div>
                                        <div class="info-bx text-center">
                                            <h5><a href="#">Administrador de Redes, Telecomunicaciones e Infraestuctura de TI</a></h5>
                                            <span>Ingeniero de Sistemas</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Popular Courses END -->
                <!-- Form -->
                <!-- Form END -->
                <div class="section-area section-sp2">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 text-center heading-bx">
                                <h2 class="title-head m-b0">Próximos <span>Eventos</span></h2>
                                <p class="m-b0">Próximos eventos que viene relaizando la EPIS. </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="upcoming-event-carousel owl-carousel owl-btn-center-lr owl-btn-1 col-12 p-lr0  m-b30">
                                <div class="item">
                                    <div class="event-bx">
                                        <div class="action-box">
                                            <img src="~/assets/PortalWeb/images/event/pic4.jpg" alt="">
                                        </div>
                                        <div class="info-bx d-flex">
                                            <div>
                                                <div class="event-time">
                                                    <div class="event-date">01</div>
                                                    <div class="event-month">Julio</div>
                                                </div>
                                            </div>
                                            <div class="event-info">
                                                <h4 class="event-title"><a href="#">Concurso de Proyectos EPIS</a></h4>
                                                <ul class="media-post">
                                                    <li><a href="#"><i class="fa fa-clock-o"></i> 4:00pm 8:00pm</a></li>
                                                    <li><a href="#"><i class="fa fa-map-marker"></i> Auditorio FAING</a></li>
                                                </ul>
                                                <p>Se invita a todo los estudiantes del primero al décimo ciclo  al XIV Concurso de proyectos EPIS!!!..</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="event-bx">
                                        <div class="action-box">
                                            <img src="~/assets/PortalWeb/images/event/pic3.jpg" alt="">
                                        </div>
                                        <div class="info-bx d-flex">
                                            <div>
                                                <div class="event-time">
                                                    <div class="event-date">04</div>
                                                    <div class="event-month">Junio</div>
                                                </div>
                                            </div>
                                            <div class="event-info">
                                                <h4 class="event-title"><a href="#">CATEC / Capacitación Tecnológica</a></h4>
                                                <ul class="media-post">
                                                    <li><a href="#"><i class="fa fa-clock-o"></i> 5:00pm 8:00pm</a></li>
                                                    <li><a href="#"><i class="fa fa-map-marker"></i> Auditorio FAING</a></li>
                                                </ul>
                                                <p>Hoy no te pierdas la inauguración y las ponencias principales del #CATEC 2019...</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="event-bx">
                                        <div class="action-box">
                                            <img src="~/assets/PortalWeb/images/event/pic2.jpg" alt="">
                                        </div>
                                        <div class="info-bx d-flex">
                                            <div>
                                                <div class="event-time">
                                                    <div class="event-date">13</div>
                                                    <div class="event-month">Mayo</div>
                                                </div>
                                            </div>
                                            <div class="event-info">
                                                <h4 class="event-title"><a href="#">Capacitación Cedula UPT</a></h4>
                                                <ul class="media-post">
                                                    <li><a href="#"><i class="fa fa-clock-o"></i> 9:00am 11:00am</a></li>
                                                    <li><a href="#"><i class="fa fa-map-marker"></i> Laboratorio B</a></li>
                                                </ul>
                                                <p>Un total de 40 estudiantes del I ciclo de la escuela profesional de Ingeniería de Sistemas recibieron una capacitación sobre el uso de Office 365..</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text-center">
                            <a href="#" class="btn" style="background-color:#0583F2">Ver todo los eventos</a>
                        </div>
                    </div>
                </div>

                <!-- Testimonials -->
                <div class="section-area section-sp2 bg-fix ovbl-dark" style="background-image:url(~/assets/PortalWeb/images/background/bg1.jpg);">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 text-white heading-bx left">
                                <h2 class="title-head text-uppercase">Comentarios <span>Resaltantes</span></h2>
                                <p>
                                    Es un hecho establecido que el contenido legible de una página distrae al lector.
                                </p>
                            </div>
                        </div>
                        <div class="testimonial-carousel owl-carousel owl-btn-1 col-12 p-lr0">
                            <div class="item">
                                <div class="testimonial-bx">
                                    <div class="testimonial-thumb">
                                        <img src="~/assets/PortalWeb/images/testimonials/pic1.jpg" alt="">
                                    </div>
                                    <div class="testimonial-info">
                                        <h5 class="name">Ing. Tito Ale Nieto</h5>
                                        <p>Director</p>
                                    </div>
                                    <div class="testimonial-content">
                                        <p>Lorem Ipsum es simplemente un texto de relleno de la industria de impresión y tipografía. Lorem Ipsum ha sido el texto ficticio estándar de la industria desde los años 1500, cuando una impresora desconocida tomó una galera de tipos...</p>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="testimonial-bx">
                                    <div class="testimonial-thumb">
                                        <img src="~/assets/PortalWeb/images/testimonials/pic2.jpg" alt="">
                                    </div>
                                    <div class="testimonial-info">
                                        <h5 class="name">Ing. Enrique Lanchipa Valencia</h5>
                                        <p>Docente</p>
                                    </div>
                                    <div class="testimonial-content">
                                        <p>Lorem Ipsum es simplemente un texto de relleno de la industria de impresión y tipografía. Lorem Ipsum ha sido el texto ficticio estándar de la industria desde los años 1500, cuando una impresora desconocida tomó una galera de tipos...</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Testimonials END -->
                <!-- Noticias Recientes -->
                <div class="section-area section-sp2">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 heading-bx left">
                                <h2 class="title-head">Noticias <span>Recientes</span></h2>
                                <p>Noticias Locales, Nacionales e Internacionles con temas de Tecnología e Innovación...</p>
                            </div>
                        </div>
                        <div class="recent-news-carousel owl-carousel owl-btn-1 col-12 p-lr0">
                            <div class="item">
                                <div class="recent-news">
                                    <div class="action-box">
                                        <img src="~/assets/PortalWeb/images/blog/latest-blog/pic1.jpg" alt="">
                                    </div>
                                    <div class="info-bx">
                                        <ul class="media-post">
                                            <li><a href="#"><i class="fa fa-calendar"></i>Jan 02 2019</a></li>
                                            <li><a href="#"><i class="fa fa-user"></i>Administrador</a></li>
                                        </ul>
                                        <h5 class="post-title"><a href="blog-details.html">Huawei | SO de la firma china sería 60% más rápido que el Android de Google</a></h5>
                                        <p>Huawei confirmó que viene trabajando en un nuevo sistema operativo para no depender del Android de Google. </p>
                                        <div class="post-extra">
                                            <a href="#" class="btn-link">LEER MÁS</a>
                                            <a href="#" class="comments-bx"><i class="fa fa-comments-o"></i>20 Comentarios</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="recent-news">
                                    <div class="action-box">
                                        <img src="~/assets/PortalWeb/images/blog/latest-blog/pic2.jpg" alt="">
                                    </div>
                                    <div class="info-bx">
                                        <ul class="media-post">
                                            <li><a href="#"><i class="fa fa-calendar"></i>Feb 05 2019</a></li>
                                            <li><a href="#"><i class="fa fa-user"></i>Administrador</a></li>
                                        </ul>
                                        <h5 class="post-title"><a href="blog-details.html">CATEC / Capacitación Tecnológica</a></h5>
                                        <p>Del 04 al 11 de junio todos están invitados al #CATEC 2019-I, ven y participa en las ponencias con reconocidos expositores.</p>
                                        <div class="post-extra">
                                            <a href="#" class="btn-link">LEER MÁS</a>
                                            <a href="#" class="comments-bx"><i class="fa fa-comments-o"></i>15 Comentarios</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="recent-news">
                                    <div class="action-box">
                                        <img src="~/assets/PortalWeb/images/blog/latest-blog/pic3.jpg" alt="">
                                    </div>
                                    <div class="info-bx">
                                        <ul class="media-post">
                                            <li><a href="#"><i class="fa fa-calendar"></i>April 14 2019</a></li>
                                            <li><a href="#"><i class="fa fa-user"></i>Administrador</a></li>
                                        </ul>
                                        <h5 class="post-title"><a href="blog-details.html">La app con la que Facebook te pagará a cambio de tu información</a></h5>
                                        <p> A través de "Study from Facebook", la red social quiere tener información sobre cómo sus usuarios usan otras aplicaciones.</p>
                                        <div class="post-extra">
                                            <a href="#" class="btn-link">LEER MÁS</a>
                                            <a href="#" class="comments-bx"><i class="fa fa-comments-o"></i>86 Comentarios</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Recent News End -->

            </div>
            <!-- contact area END -->
        </div>
        <!-- Content END-->
        <!-- Footer ==== -->
        <footer>
            <div class="footer-top">
                <div class="pt-exebar">
                    <div class="container">
                        <div class="d-flex align-items-stretch">
                            <div class="pt-logo mr-auto">
                                <a href="index.html"><img src="~/assets/PortalWeb/images/logo_epis.png" width="200" height="80" alt="" /></a>
                            </div>
                            <div class="pt-social-link">
                                <ul class="list-inline m-a0">
                                    <li><a href="#" class="btn-link"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#" class="btn-link"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#" class="btn-link"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="#" class="btn-link"><i class="fa fa-google-plus"></i></a></li>
                                </ul>
                            </div>
                            <div class="pt-btn-join">
                                <a href="#" class="btn " style="background-color:#0583F2">Unirse Ahora!</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-md-12 col-sm-12 footer-col-4">
                            <div class="widget">
                                <h5 class="footer-title">Registrarse para un boletín</h5>
                                <p class="text-capitalize m-b20">
                                    Análisis de noticias de última hora y consejos de vanguardia en la búsqueda de empleo.
                                </p>
                                <div class="subscribe-form m-b20">
                                    <form class="subscription-form" action="#" method="post">
                                        <div class="ajax-message"></div>
                                        <div class="input-group">
                                            <input name="email" required="required" class="form-control" placeholder="Tu correo electrónico" type="email">
                                            <span class="input-group-btn">
                                                <button name="submit" value="Submit" type="submit" class="btn" style="background-color:#0583F2"><i class="fa fa-arrow-right"></i></button>
                                            </span>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-5 col-md-7 col-sm-12">
                            <div class="row">
                                <div class="col-4 col-lg-4 col-md-4 col-sm-4">
                                    <div class="widget footer_widget">
                                        <h5 class="footer-title">Inicio</h5>
                                        <ul>
                                            <li><a href="#">Visión y Misión</a></li>
                                            <li><a href="#">Malla Curricular</a></li>
                                            <li><a href="#">plan de Estudios</a></li>
                                            <li><a href="#">Eventos</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-4 col-lg-4 col-md-4 col-sm-4">
                                    <div class="widget footer_widget">
                                        <h5 class="footer-title">Autoevaluación</h5>
                                        <ul>
                                            <li><a href="#">¿Que es la Acreditación?</a></li>
                                            <li><a href="#">Comité de autoevaluación</a></li>

                                        </ul>
                                    </div>
                                </div>
                                <div class="col-4 col-lg-4 col-md-4 col-sm-4">
                                    <div class="widget footer_widget">
                                        <h5 class="footer-title">Acreditación</h5>
                                        <ul>
                                            <li><a href="#">Comité de Acreditación</a></li>
                                            <li><a href="#">Objetivos Educacionales</a></li>
                                            <li><a href="#">Concurso de Proyectos</a></li>

                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-3 col-md-5 col-sm-12 footer-col-4">
                            <div class="widget widget_gallery gallery-grid-4">
                                <h5 class="footer-title">Galeria de Fotos</h5>
                                <ul class="magnific-image">
                                    <li><a href="~/assets/PortalWeb/images/gallery/pic1.jpg" class="magnific-anchor"><img src="~/assets/PortalWeb/images/gallery/pic1.jpg" alt=""></a></li>
                                    <li><a href="~/assets/PortalWeb/images/gallery/pic2.jpg" class="magnific-anchor"><img src="~/assets/PortalWeb/images/gallery/pic2.jpg" alt=""></a></li>
                                    <li><a href="~/assets/PortalWeb/images/gallery/pic3.jpg" class="magnific-anchor"><img src="~/assets/PortalWeb/images/gallery/pic3.jpg" alt=""></a></li>
                                    <li><a href="~/assets/PortalWeb/images/gallery/pic4.jpg" class="magnific-anchor"><img src="~/assets/PortalWeb/images/gallery/pic4.jpg" alt=""></a></li>
                                    <li><a href="~/assets/PortalWeb/images/gallery/pic5.jpg" class="magnific-anchor"><img src="~/assets/PortalWeb/images/gallery/pic5.jpg" alt=""></a></li>
                                    <li><a href="~/assets/PortalWeb/images/gallery/pic6.jpg" class="magnific-anchor"><img src="~/assets/PortalWeb/images/gallery/pic6.jpg" alt=""></a></li>
                                    <li><a href="~/assets/PortalWeb/images/gallery/pic7.jpg" class="magnific-anchor"><img src="~/assets/PortalWeb/images/gallery/pic7.jpg" alt=""></a></li>
                                    <li><a href="~/assets/PortalWeb/images/gallery/pic8.jpg" class="magnific-anchor"><img src="~/assets/PortalWeb/images/gallery/pic8.jpg" alt=""></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 text-center"> <a href="http://epis.upt.edu.pe/acreditacion/index.php/inicio/index">Escuela Profesional de Ingeniería de Sistemas</a></div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Footer END ==== -->
        <button class="back-to-top fa fa-chevron-up"></button>
    </div>
    <!-- External JavaScripts -->
    <script src="~/assets/PortalWeb/js/jquery.min.js"></script>
    <script src="~/assets/PortalWeb/vendors/bootstrap/js/popper.min.js"></script>
    <script src="~/assets/PortalWeb/vendors/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/assets/PortalWeb/vendors/bootstrap-select/bootstrap-select.min.js"></script>
    <script src="~/assets/PortalWeb/vendors/bootstrap-touchspin/jquery.bootstrap-touchspin.js"></script>
    <script src="~/assets/PortalWeb/vendors/magnific-popup/magnific-popup.js"></script>
    <script src="~/assets/PortalWeb/vendors/counter/waypoints-min.js"></script>
    <script src="~/assets/PortalWeb/vendors/counter/counterup.min.js"></script>
    <script src="~/assets/PortalWeb/vendors/imagesloaded/imagesloaded.js"></script>
    <script src="~/assets/PortalWeb/vendors/masonry/masonry.js"></script>
    <script src="~/assets/PortalWeb/vendors/masonry/filter.js"></script>
    <script src="~/assets/PortalWeb/vendors/owl-carousel/owl.carousel.js"></script>
    <script src="~/assets/PortalWeb/js/functions.js"></script>
    <script src="~/assets/PortalWeb/js/contact.js"></script>
    <script src='~/assets/PortalWeb/vendors/switcher/switcher.js'></script>
    <!-- Revolution JavaScripts Files -->
    <script src="~/assets/PortalWeb/vendors/revolution/js/jquery.themepunch.tools.min.js"></script>
    <script src="~/assets/PortalWeb/vendors/revolution/js/jquery.themepunch.revolution.min.js"></script>
    <!-- Slider revolution 5.0 Extensions  (Load Extensions only on Local File Systems !  The following part can be removed on Server for On Demand Loading) -->
    <script src="~/assets/PortalWeb/vendors/revolution/js/extensions/revolution.extension.actions.min.js"></script>
    <script src="~/assets/PortalWeb/vendors/revolution/js/extensions/revolution.extension.carousel.min.js"></script>
    <script src="~/assets/PortalWeb/vendors/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
    <script src="~/assets/PortalWeb/vendors/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script src="~/assets/PortalWeb/vendors/revolution/js/extensions/revolution.extension.migration.min.js"></script>
    <script src="~/assets/PortalWeb/vendors/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
    <script src="~/assets/PortalWeb/vendors/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
    <script src="~/assets/PortalWeb/vendors/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script src="~/assets/PortalWeb/vendors/revolution/js/extensions/revolution.extension.video.min.js"></script>
    <script>
jQuery(document).ready(function() {
	var ttrevapi;
	var tpj =jQuery;
	if(tpj("#rev_slider_486_1").revolution == undefined){
		revslider_showDoubleJqueryError("#rev_slider_486_1");
	}else{
		ttrevapi = tpj("#rev_slider_486_1").show().revolution({
			sliderType:"standard",
            jsFileLocation:"~/assets/PortalWeb/vendors/revolution/js/",
			sliderLayout:"fullwidth",
			dottedOverlay:"none",
			delay:9000,
			navigation: {
				keyboardNavigation:"on",
				keyboard_direction: "horizontal",
				mouseScrollNavigation:"off",
				mouseScrollReverse:"default",
				onHoverStop:"on",
				touch:{
					touchenabled:"on",
					swipe_threshold: 75,
					swipe_min_touches: 1,
					swipe_direction: "horizontal",
					drag_block_vertical: false
				}
				,
				arrows: {
					style: "uranus",
					enable: true,
					hide_onmobile: false,
					hide_onleave: false,
					tmp: '',
					left: {
						h_align: "left",
						v_align: "center",
						h_offset: 10,
						v_offset: 0
					},
					right: {
						h_align: "right",
						v_align: "center",
						h_offset: 10,
						v_offset: 0
					}
				},

			},
			viewPort: {
				enable:true,
				outof:"pause",
				visible_area:"80%",
				presize:false
			},
			responsiveLevels:[1240,1024,778,480],
			visibilityLevels:[1240,1024,778,480],
			gridwidth:[1240,1024,778,480],
			gridheight:[768,600,600,600],
			lazyType:"none",
			parallax: {
				type:"scroll",
				origo:"enterpoint",
				speed:400,
				levels:[5,10,15,20,25,30,35,40,45,50,46,47,48,49,50,55],
				type:"scroll",
			},
			shadow:0,
			spinner:"off",
			stopLoop:"off",
			stopAfterLoops:-1,
			stopAtSlide:-1,
			shuffle:"off",
			autoHeight:"off",
			hideThumbsOnMobile:"off",
			hideSliderAtLimit:0,
			hideCaptionAtLimit:0,
			hideAllCaptionAtLilmit:0,
			debugMode:false,
			fallbacks: {
				simplifyAll:"off",
				nextSlideOnWindowFocus:"off",
				disableFocusListener:false,
			}
		});
	}
});</script>
</body>
</html>


