@model List<PortafolioEPIS.Models.Tbl_Docente>
@using PortafolioEPIS.Models

<div class="row">
    <div class="col-sm-8 col-9">
        <h4 class="page-title">Guía Docente</h4>
    </div>
</div>
<div class="card-box">
    <div class="row">
        <div class="col-md-12">
            <center><h2 class="text-primary">Tipos de Informe</h2></center>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Tipo</th>
                            <th>Unidad de Entrega</th>
                            <th>Descripción</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Informe de Prueba de Entrada</td>
                            <td>Unidad I</td>
                            <td>Este tipo de Informe se genera despues de haber tomado una prueba de entrada a los estudiantes</td>
                        </tr>
                        <tr>
                            <td rowspan="3">2</td>
                            <td rowspan="3">Informe de Portafolio</td>
                            <td>Unidad I</td>
                            <td>Este tipo de Informe se genera despues de haber terminado la Unidad I</td>
                        </tr>
                        <tr>
                            <td>Unidad II</td>
                            <td>Este tipo de Informe se genera despues de haber terminado la Unidad II</td>
                        </tr>
                        <tr>
                            <td>Unidad III</td>
                            <td>Este tipo de Informe se genera despues de haber terminado la Unidad III</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Informe Final</td>
                            <td>Unidad III</td>
                            <td>Este tipo de Informe se genera despues de haber concluido la Unidad I, II y III</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<br />
<div class="card-box">
    <div class="row">
        <div class="col-md-12">
            <center><h2 class="text-primary">Tipos de Estados</h2></center>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Tipo</th>
                            <th>Descripción</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td><span class="custom-badge status-grey">No Generado</span></td>
                            <td>Este tipo de Estado significa que el docente aún no ha generado ningún tipo de informe de su Carga Académica</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td><span class="custom-badge status-blue">Guardado</span></td>
                            <td>Este tipo de Estado significa que el docente a realizado cambios en un tipo de informe seleccionado de su Carga Académica</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td><span class="custom-badge status-purple">Enviado</span></td>
                            <td>Este tipo de Estado significa que el docente a generado el Envío despues de haber llenado en un tipo de informe de su Carga Académica</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td><span class="custom-badge status-red">Rechazado</span></td>
                            <td>Este tipo de Estado significa que fue rechazado por el administrador para que el docente pueda corregir el informe seleccionado de su Carga Académica</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td><span class="custom-badge status-green">Aceptado</span></td>
                            <td>Este tipo de Estado significa que el administrador a aceptado el informe que fue enviado por el docente</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<style>


    .organigrama  {
        margin: 0px;
        padding: 0px;
    }

    .organigrama ul {
        padding-top: 20px;
        position: relative;
    }

    .organigrama li {
        float: left;
        text-align: center;
        list-style-type: none;
        padding: 20px 5px 0px 5px;
        position: relative;
    }

        .organigrama li::before, .organigrama li::after {
            content: '';
            position: absolute;
            top: 0px;
            right: 50%;
            border-top: 1px solid #f80;
            width: 50%;
            height: 20px;
        }

        .organigrama li::after {
            right: auto;
            left: 50%;
            border-left: 1px solid #f80;
        }

        .organigrama li:only-child::before, .organigrama li:only-child::after {
            display: none;
        }

        .organigrama li:only-child {
            padding-top: 0;
        }

        .organigrama li:first-child::before, .organigrama li:last-child::after {
            border: 0 none;
        }

        .organigrama li:last-child::before {
            border-right: 1px solid #f80;
            -webkit-border-radius: 0 5px 0 0;
            -moz-border-radius: 0 5px 0 0;
            border-radius: 0 5px 0 0;
        }

        .organigrama li:first-child::after {
            border-radius: 5px 0 0 0;
            -webkit-border-radius: 5px 0 0 0;
            -moz-border-radius: 5px 0 0 0;
        }

    .organigrama ul ul::before {
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        border-left: 1px solid #f80;
        width: 0;
        height: 20px;
    }

    .organigrama li a {
        border: 1px solid #f80;
        padding: 1em 0.75em;
        text-decoration: none;
        color: #333;
        background-color: rgba(255,255,255,0.5);
        font-family: arial, verdana, tahoma;
        font-size: 0.85em;
        display: inline-block;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-transition: all 500ms;
        -moz-transition: all 500ms;
        transition: all 500ms;
    }

        .organigrama li a:hover {
            border: 1px solid #fff;
            color: #ddd;
            background-color: rgba(255,128,0,0.7);
            display: inline-block;
        }

    .organigrama > ul > li > a {
        font-size: 1em;
        font-weight: bold;
    }

    .organigrama > ul > li > ul > li > a {
        width: 20em;
    }
</style>
<div class="card-box">
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-primary">Autoridades de la EPIS</h2>

            <div class="organigrama">
                <ul>
                    <li>
                        @foreach (var org in Model)
                        {
                            if (org.Tbl_CargoDocente.Nombre_CargoDocente == "Director")
                            {

                                <a href="#">@org.Nombres_Docente @org.Apellidos_Docente</a>
                                <p>Director</p>
                            }
                        }
                        <ul>
                            @foreach (var org in Model)
                            {

                                if (org.Tbl_CargoDocente.Nombre_CargoDocente == "Administrativo")
                                {
                                    <li>
                                        <a href="#">@org.Nombres_Docente @org.Apellidos_Docente</a>
                                        <p>Administrativo</p>
                                    </li>
                                }
                            }
                        </ul>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</div>
