
<div class="row">
    <div class="col-sm-8 col-9">
        <h4 class="page-title">Guía Docente</h4>
    </div>
</div>
<div class="card-box">
    <div class="row">
        <div class="col-md-12">
            <center><h2 class="text-primary">Tipos de Estados</h2></center>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Tipo</th>
                            <th>Descripción</th>   
                            
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td><span class="custom-badge status-grey">No Generado</span></td>
                            <td>Este tipo de Estado significa que el docente aún no ha generado ningún tipo de informe de su Carga Académica</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td><span class="custom-badge status-blue">Guardado</span></td>
                            <td>Este tipo de Estado significa que el docente a realizado cambios en un tipo de informe seleccionado de su Carga Académica</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td><span class="custom-badge status-purple">Enviado</span></td>
                            <td>Este tipo de Estado significa que el docente a generado el Envío despues de haber llenado en un tipo de informe de su Carga Académica</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td><span class="custom-badge status-red">Rechazado</span></td>
                            <td>Este tipo de Estado significa que fue rechazado por el administrador para que el docente pueda corregir el informe seleccionado de su Carga Académica</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td><span class="custom-badge status-green">Aceptado</span></td>
                            <td>Este tipo de Estado significa que el administrador a aceptado el informe que fue enviado por el docente</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>